In [1]:
#read CSV data

import pandas as pd
import os

In [83]:
#read the excel file

crowdfunding_data=pd.ExcelFile("crowdfunding.xlsx")

#get the sheets name


crowdfunding_data.sheet_names

# get the crowdfunding_info from the worksheet

crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name= 'crowdfunding_info')

crowdfunding_info_df.head()

#get the contact_info from the worksheet
# increase width of the column to 400

pd.set_option('max_colwidth', 400)

contact_info_df=pd.read_excel(crowdfunding_data, sheet_name='contact_info',header=3)

contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [3]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [4]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [5]:
# get the unique values in category & subcategory column.

crowdfunding_info_df['category & sub-category'].unique()

# count number of unique values 2 ways:

x =len(pd.unique(crowdfunding_info_df['category & sub-category']))
x

# variable to hold the count
cnt = 0

hello=[]
# loop for counting the unique
# values in category & subcategory
for i in range(0, len(crowdfunding_info_df['category & sub-category'])):
    
    if crowdfunding_info_df['category & sub-category'][i] not in hello: 
        
        hello.append(crowdfunding_info_df['category & sub-category'][i])
          
        cnt += 1
  
print("No.of.unique values :",
      cnt)

No.of.unique values : 24

In [6]:
# split the category and subcategory column using .str.split
# the '/' splits at the forward slash. n=1, limits number of splits. expand=True returns as DataFrame, False returns data as series
crowdfunding_info_df[["category", "sub-category"]]=crowdfunding_info_df['category & sub-category'].str.split('/',n=1,expand=True)

crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [7]:
#find number of unique values in category 3 techniques:

# use for loop

count=0

unique=[]

for i in range(0,len(crowdfunding_info_df['category'])):
   
    if crowdfunding_info_df['category'][i] not in unique:
    
        unique.append(crowdfunding_info_df['category'][i])
    
        count += 1
    
print(count)

#use x = len()
x = len(crowdfunding_info_df['category'].unique())
x

#use .nunique()

print(crowdfunding_info_df['category'].nunique())

9
9

In [8]:
#find number of unique values in sub-category 3 techniques:

cnt=0
hello=[]

for i in range(0,len(crowdfunding_info_df['sub-category'])):
    
    if crowdfunding_info_df['sub-category'][i] not in hello:
        
        hello.append(crowdfunding_info_df['sub-category'][i])
        
        cnt += 1
print(cnt)

# use x = len()

x = len(crowdfunding_info_df['sub-category'].unique())
x

# use print(.nunique())

print(crowdfunding_info_df['sub-category'].nunique())

24
24

In [9]:
#create category and sub-category Dataframe
#first create separate varibles for each by using .unique()

category= crowdfunding_info_df['category'].unique()

subcategory = crowdfunding_info_df['sub-category'].unique()

print(category)

print()

print(subcategory)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [10]:
# to execute plan to create category and subcategory DF
# 1. create two NumPy arrays

import numpy as np

# create numpy arrays that have 1-10 for category and 1-25 for subcategory
#using np.arange(x,x)

category_ids=np.arange(1,10)

subcategory_ids=np.arange(1,25)

print(category_ids)

print()

print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [11]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print()
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']

['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [66]:
#create category Datafram using categoty and cat_ids using pd.DataFrame({'x':x,'x':x})

category_df=pd.DataFrame({'category_id' : cat_ids,
                         "category" : category})

category_df.head()

#create subcategory DataFrame using subcategory and scat_ids using pd.DataFrame({'x':x,'x':x})
subcategory_df = pd.DataFrame({'subcategory_id': scat_ids,
                              'sub-category' : subcategory})
subcategory_df.head()

  subcategory_id sub-category
0         scat01  food trucks
1         scat02         rock
2         scat03          web
3         scat04        plays
4         scat05  documentary

In [67]:
#save csv file

category_df.to_csv(r'Data/category.csv',index=False)

subcategory_df.to_csv(r'Data/subcategory.csv',index=False)

In [21]:
#make copy of crowdfunding_info_df into campaign_df

campaign_df=crowdfunding_info_df.copy()

campaign_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [35]:
# #rename the blurb to description, launched_at to launch_date and deadline to end_date

campaign_df=campaign_df.rename(columns={'blurb':'description', 'launched_at':'launched_date','deadline':'end_date'})

campaign_df.head()

#change the goal and pledged columns from int64 to float

campaign_df[['goal','pledged']]=campaign_df[['goal','pledged']].astype(float)

campaign_df

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,False,True,food/food trucks,food,food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,False,False,theater/plays,theater,plays
997,1627,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,False,False,theater/plays,theater,plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,False,True,music/indie rock,music,indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,False,False,food/food trucks,food,food trucks

In [51]:
#convert the launched_date and end_date columns to international organization standardization(ISO) format
# 1. import "from datetime import date as dt"
# 2. use df['columns name']=pd.to_datetime(df['column name'],unit='s').dt.strftime('%Y-%m-%d')

# from datetime import date as dt

# campaign_df['launched_date']=pd.to_datetime(campaign_df['launched_date'], unit='s').dt.strftime('%Y-%m-%d')
# campaign_df['end_date']=pd.to_datetime(campaign_df['end_date'], unit='s').dt.strftime('%Y-%m-%d')

# #print

campaign_df.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [73]:
# Next, we want to assign each category and subcategory in the campaign_df DataFrame the unique 
# "category_id" and "subcategory_id" number from the category_df and subcategory_df DataFrame, respectively.

#use the merge fuction df1.merge(df2 on="column", how=left)

# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = campaign_df.merge(category_df, on='category', how='left').merge(subcategory_df, on='sub-category', how='left')

campaign_merged_df.tail(10)

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,sub-category,category_id,subcategory_id
990,1561,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,2021-06-09,2021-06-18,False,True,film & video/drama,film & video,drama,cat05,scat07
991,2632,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,2020-12-09,2021-05-26,False,True,music/rock,music,rock,cat02,scat02
992,439,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,2020-06-14,2021-02-09,False,True,film & video/drama,film & video,drama,cat05,scat07
993,461,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat08,scat015
994,1419,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,2021-11-15,2021-12-07,False,True,publishing/translations,publishing,translations,cat06,scat019
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,False,True,food/food trucks,food,food trucks,cat01,scat01
996,2031,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,False,False,theater/plays,theater,plays,cat04,scat04
997,1627,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,False,False,theater/plays,theater,plays,cat04,scat04
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,False,True,music/indie rock,music,indie rock,cat02,scat08
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,False,False,food/food trucks,food,food trucks,cat01,scat01

In [75]:
# Drop unwanted columns.
campaign_cleaned = campaign_merged_df.drop(['staff_pick', 'spotlight', 'category & sub-category','category', 'sub-category'], axis=1)
campaign_cleaned.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat01,scat01
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat02,scat02
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat03,scat03
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat02,scat02
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat04,scat04

In [124]:
#show the contact_info_df DataFrame

contact_info_df.head()

# # Retrieve the data from the "contact_info" column.
# contact_info_list = contact_info_df.contact_info.to_list()
# contact_info_list

# Pop out the unique identification number using list slicing. 
# print(contact_info_list[0])
# print(contact_info_list[0][15:19])

# print([x[15:19] for x in contact_info_list])

# Extract the four-digit contact ID number and add it to a new column in the `campaign_cleaned` DataFrame.
campaign_cleaned["contact_id"] = [x[15:19] for x in contact_info_df["contact_info"].values]
campaign_cleaned.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id,contact_id
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat01,scat01,4661
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat02,scat02,3765
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat03,scat03,4187
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat02,scat02,4941
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat04,scat04,2199

In [125]:
campaign_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cf_id           1000 non-null   int64
 1   company_name    1000 non-null   object
 2   description     1000 non-null   object
 3   goal            1000 non-null   float64
 4   pledged         1000 non-null   float64
 5   outcome         1000 non-null   object
 6   backers_count   1000 non-null   int64
 7   country         1000 non-null   object
 8   currency        1000 non-null   object
 9   launched_date   1000 non-null   object
 10  end_date        1000 non-null   object
 11  category_id     1000 non-null   object
 12  subcategory_id  1000 non-null   object
 13  contact_id      1000 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 117.2+ KB

In [127]:
#changed data type of contact_id to int64 by usind df['column']=df['column'].apply(pd.to_numeric)

campaign_cleaned['contact_id']=campaign_cleaned['contact_id'].apply(pd.to_numeric)

campaign_cleaned.dtypes

cf_id               int64
company_name       object
description        object
goal              float64
pledged           float64
outcome            object
backers_count       int64
country            object
currency           object
launched_date      object
end_date           object
category_id        object
subcategory_id     object
contact_id          int64
dtype: object

In [131]:
# rearrange columns in the data with df=df[['column1','column2','column3',etc..]]

campaign_cleaned=campaign_cleaned[["cf_id", "contact_id", "company_name", "description", "goal", "pledged", "outcome", "backers_count", "country", "currency", "launched_date", "end_date", "category_id","subcategory_id"]]

campaign_cleaned.head()

#save new Dataframe as campaign.csv using df.to_csv(), with encoding='utf8' and index=False
campaign_cleaned.to_csv(r'Data/campaign.csv',encoding='utf8',index=False)